body {
	background-image: url(https://assets.codepen.io/4557572/background-image.gif);
	font-family: "Open Sans", sans-serif;
	font-size: 1em;
	text-align: center;
	background-size: cover;
}
h1 {
	color: black;
	font-size: 1.7rem;
	font-weight: bold;
	margin-top: 150px;
	text-transform: uppercase;
}
h2 { color: #666; }
h3 {
	font-size: 1.3rem;
	font-style: italic;
}
button {
	background-color: #66CDAA;
	border: none;
	border-radius: 30px;
	box-shadow: 0 3px 3px 0 rgba(0,0,0,0.4),
		0 0 2px 1px rgba(0,0,0,0.1);
	cursor: pointer;
	color: #fff;
	font-size: 1rem;
	padding: 15px 30px;
	margin: 10px 5px 30px;
	transition: all 0.1s ease-in;
}
button:hover {
	/*background-color: red;*/
	box-shadow: 0 6px 6px 0 rgba(0,0,0,0.25),
		0 0 4px 2px rgba(0,0,0,0.05);
	transform: translateY(-2px);
}
button:focus { outline: 0; }
footer {
	border-top: 1px solid #ccc;
	font-size: 0.9rem;
	margin: 20px 0 30px;
}
#quiz {
	background-color: #fff;
	box-shadow: 0 3px 2px 1px rgba(0,0,0,0.2),
		0 0 6px 3px rgba(0,0,0,0.05);
	margin: 0 auto 30px;
	padding: 20px;
	width: 66%;
}
#progress { float: left; }
#score { 
	float: right;
	font-weight: bold;
}

.btn_homepage { 
background-color: #FFFAF0;
	color: black;
}

.btn_homepage:hover {
  background-color: #FAFAD2; 
  color: grey;
}

.navbar {
  background: black;
}

.sm-cap {
  font-variant: small-caps;
}

.nav-link {
  color: white;
}

.nav-link:hover {
  color: grey;
}

.jumbotron {
  background-color: #5c8a8a;
  padding: 110px 0px 50px;
  height: 100%;
  text-align: center;
  color: white;
}

.navbar {
  font-size: 1.3rem;
}
